*{
    padding:0;
    margin: 0;
   
}
.main{
    background:url('../assets/Inventory_page.jpg');
    width: auto;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.main h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}